  
<div style="background-color: lightseagreen; height: 800; ">
            <script>

            state ={}


            </script>
    
            <body>
                <script>
                 
                 let t;
                </script>

                <text style="font-weight: bold; font-size: 45; align-self: center;">Results </text>
                <table aria-label="simple table" border="1.5">
                <tr>
                    <th> <Button onclick={sort(arrTitle)}>Title</Button></th>
                    <th><text>author </text></th>
                    <th><text>published </text></th>
                    <th><text>year </text></th>
                </tr>

                <script>
                    let arrTitle = new Array('<%-output.length%>');
                    let arrAuthor = new Array('<%-output.length%>');
                    let arrPublished = new Array('<%-output.length%>');
                    let arrYear = new Array('<%-output.length%>');
                    let counter = 0;
                    let testing = '<%-output[0].title%>';

                    
                    
                </script>
                
                <% for(var i = 0; i < output.length; i++) { %>
                    <tr>
                     <th><text><%= output[i].title%></text> <br><br></th>
                     <th><text><%= output[i].author%></text> </th>
                     <th><text><%= output[i].published%></text></th>
                     <th><text><%= output[i].year%></text> </th>
                    </tr>
                    
                    <script>
                     arrTitle[counter] = '<%-output[i].title%>';
                     counter+=1;
                    </script>
                    
                <% } %> 
                     
                    
                    </table>
                      <br><br>

                      <script>
                        function sort(arr)
                        {
                            console.log("before sort",arr);
                            arr.sort();
                            console.log("after sort",arr);
                            return arr;
                        }
                    </script>
                    
        </body>
</div>
        