  
<div id="containerResult" style="background-color: rgb(255, 255, 255); height: 200; ">
            <link rel="stylesheet" type="text/css" href="style/style.css">
            <body class="background-main">
                <text style="font-weight: bold; font-size: 45; align-self: center;">Results </text>
                <table aria-label="simple table" border="1.5">
                <tr>
                    <th><text>Title </text></th>
                    <th><text>author </text></th>
                    <th><text>year </text></th>
                    <th><text>claims </text></th>
                    <th><text>practice </text></th>
                </tr>

                
                <% for(var i = 0; i < output.length; i++) {%>
                   
                    <tr>
                     <th> <span style="font-weight: bold;"><%= output[i].title %></span> <br><br> </th>
                     <th> <span style="font-weight: bold;"><%= output[i].author%></span> </th>
                     <th> <span style="font-weight: bold;"><%= output[i].year%></span> </th>
                     <th> <span style="font-weight: bold;"><%= output[i].claim%></span> </th>
                     <th> <span style="font-weight: bold;"><%= output[i].practice%></span> </th>
                    </tr>
                    
                    <% } %> 
                    
                    </table>
                      <br><br>
                    <a href="/">Back to Menu</a>
                  
            </body>
        </div>
